@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inicio de Sesión</h1>
    <form>
        <div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary" type="submit" asp-area="" asp-controller="Loguear" asp-action="Login">Inicio de sesión</button>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary" type="submit" asp-area="" asp-controller="Loguear" asp-action="Registro">Registrarse</button>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
    </form>
</div>
